<div class="m-0 p-0 bg-white">
  <div class="row align-items-center p-0 m-0">
    <div class="col-sm">
      <img class="w-50" [src]="image" />
    </div>
    <div class="col-sm">
      <div>
        <div class="d-flex justify-content-center">
          <legend>
            <div class="display-6 mt-3 text-primary1">Login<span class="bi bi-door-open"></span></div>
          </legend>
        </div>
        <div class="d-flex justify-content-center">
          <form class="ps-3 pe-3" #loginForm="ngForm" (submit)="login(loginForm.value)" enctype="text/plain">
            <div class="input-group mt-3">
              <span class="input-group-text text-dark bi bi-envelope"></span>
              <input type="email" name="email" #email="ngModel" ngModel email class="form-control"
                placeholder="example@email.com" required />
            </div>
            <div *ngIf="email.invalid && (email.touched)" class="d-grid text-warning">
              <p>Enter a valid email</p>
            </div>
            <div class="input-group mt-3">
              <span class="input-group-text bi bi-key"></span>
              <input type="password" name="password" #password="ngModel" ngModel class="form-control"
                placeholder="*********" minlength="6" required />
            </div>
            <div *ngIf="password.invalid && (password.touched)" class="d-grid text-warning">
              <p>Enter a valid password</p>
            </div>
            <div class="mt-2">
              <a class="link-primary text-center" href="#">forgot password?</a>
            </div>
            <div class="d-grid input-group mt-2">
              <button class="btn btn-primary" type="submit" name="login" [disabled]="loginForm.invalid">Login<span
                  class="bi bi-door-open"></span></button>
            </div>
          </form>
        </div>
        <div class="d-grid justify-content-center mt-2">
          <a class="link-primary" routerLink="/signup">new here?</a>
        </div>
        <div class="d-inline-block justify-content-center mb-3 mt-3">
          <a class="link-primary m-3" href="#" target="_blank"><span class="bi bi-facebook"></span></a>
          <a class="link-primary m-3" href="#" target="_blank"><span class="bi bi-twitter"></span></a>
          <a class="link-primary m-3" href="#" target="_blank"><span class="bi bi-linkedin"></span></a>
          <a class="link-primary m-3" href="#" target="_blank"><span class="bi bi-youtube"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>