<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            about
        </div>
        <div class="col-sm">
            project
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            about
        </div>
        <div class="col-sm">
            project
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            about
        </div>
        <div class="col-sm">
            project
        </div>
    </div>
</div>