<div class="container">
    <h1 class="text-start text-primary1">Projects</h1>
    <hr class="text-primary1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm mb-3">
                <div class="shadow-sm p-3">
                    <div class="align-items-center">
                        <h3 class="text-primary1 align-items-center"><b>WebArch</b> - AWS Solution Architect</h3>
                    </div>
                    <hr class="text-primary1">
                    <div class="text-start">
                        <p>
                            •	Implemented a Secured, reliable, scalable, highly available, and cost-efficient solution for a web application using Amazon Web Services, with the additional ability to communicate between two VPCs.
                            <br>
                            •	Created VPCs from scratch and connected to the network by using Internet Gateways, Route Tables, and NATs
                            <br>
                            •	Formed multiple public and private subnets for proper segregation of web servers and database servers.
                            <br>
                            •	Launched Bastion servers in public subnets to connect with the servers present in private subnets.
                            <br>
                            •	Tech Stack: Java, MySQL, Tomcat, VPC, EC2, RDS, CloudWatch, Route53, SNS, IAM, EBS, S3.

                        </p>
                    </div>
                    <div>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="https://github.com/akarsh-23/WebArch" target="_blank"><span class="bi bi-github"> WebArch</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3">
                <div class="shadow-sm p-3">
                    <div class="align-items-center">
                        <h3 class="text-primary1 align-items-center"><b>MyClass Automation</b> - Developer</h3>
                    </div>
                    <hr class="text-primary1">
                    <div class="text-start">
                        <p>
                            •	Created a Java application to automate the MyClass Learning platform using Selenium with the capabilities of one-click class joining, and also capable of healing itself if an error occurs. It helped users in reducing 90% of repetitive tasks. 30+ users are using this application.
                            <br>
                            •   Tech Stack: Java, Selenium, Maven, Log4J
                        </p>
                    </div>
                    <div>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="https://github.com/akarsh-23/MyClassAutomation" target="_blank"><span class="bi bi-github"> MyClass Automation</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3">
                <div class="shadow-sm p-3">
                    <div class="align-items-center">
                        <h3 class="text-primary1 align-items-center"><b>Alpha Portfolio</b> - Developer</h3>
                    </div>
                    <hr class="text-primary1">
                    <div class="text-start">
                        <p>
                            •   Developed a well-designed static web application, users can easily understand and navigate the application 
                            efficiently. It helps me showcase my work and skills to recruiters and attract them. Hosted on AWS S3 to reduce 
                            the cost of hosting by 75%.
                            <br>
                            •   Tech Stack: Angular, Html, CSS, Bootstrap, AWS S3
                        </p>
                    </div>
                    <div>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="https://github.com/akarsh-23/Alpha" target="_blank"><span class="bi bi-github"> Alpha Portfolio</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>