<div class="container">
    <h1 class="text-start text-primary1">Projects</h1>
    <hr class="text-primary1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm mb-3">
                <div class="shadow-sm p-3">
                    <div class="align-items-center">
                        <h3 class="text-primary1 align-items-center">MyClass Automation (Solo Project)</h3>
                    </div>
                    <hr class="text-primary1">
                    <div class="text-start">
                        <p>
                            <b>Description:</b> MyClass is a seamless learning environment which shall be very close to face to face that will also include added progress indicators. I had automated the process for joining the class, to reduce time on repetitive tasks.
                            <br>
                            <b>Environment:</b> Java, WebDriver, Windows 10, Oracle 10g, Maven.
                        </p>
                    </div>
                    <div>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="https://github.com/akarsh-23/MyClassAutomation" target="_blank"><span class="bi bi-github"> MyClass Automation</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3">
                <div class="shadow-sm p-3">
                    <div class="align-items-center">
                        <h3 class="text-primary1 align-items-center">MyClass Automation (Solo Project)</h3>
                    </div>
                    <hr class="text-primary1">
                    <div class="text-start">
                        <p>
                            <b>Description:</b> MyClass is a seamless learning environment which shall be very close to face to face that will also include added progress indicators. I had automated the process for joining the class, to reduce time on repetitive tasks.
                            <br>
                            <b>Environment:</b> Java, WebDriver, Windows 10, Oracle 10g, Maven.
                        </p>
                    </div>
                    <div>
                        <div class="d-grid">
                            <a class="btn btn-outline-primary" href="https://github.com/akarsh-23/MyClassAutomation" target="_blank"><span class="bi bi-github"> MyClass Automation</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>