/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.css'; 
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    background-color:indigo;
}
.btn-primary{
    background-color: indigo;
}
.btn-primary:hover{
    background-color: indigo;
}
.link-primary{
    text-decoration: none;
    color: indigo;
}
.link-primary:hover{
    text-decoration: none;
    color: indigo;
    cursor: pointer;
}