/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.css'; 
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: white;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-family: 'Quicksand', sans-serif;
}
.btn-primary{
    background-color: #9700efb4;
    border-color: #9700efb4;
}
.btn-primary:hover{
    background-color: #9700efb4;
    border-color: #9700efb4;
}
.btn-outline-primary{
    border-color: #9700efb4;
    color: #9700efb4;
}
.btn-outline-primary:hover{
    background-color: #9700efb4;
}
.btn-outline-primary:disabled{
    background-color: #9700efb4;
}
.link-primary{
    text-decoration: none;
    color: #9700efb4;
}
.link-primary:hover{
    text-decoration: none;
    color: #9700efb4;
    cursor: pointer;
}
.text-primary1{
    color: #9700efb4;
}
.nav-tabs:hover{
    background-color: #9700efb4;
}
.nav-tabs:hover .link-primary{
    color:whitesmoke;
}
