<div class="bg-primary1 p-5">
    <div class="container">
        <div class="text-start">
            <div class="row">
                <div class="col-sm mb-3">
                    <h3 class="text-start">Contact</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm mb-2">
                            <a class="link-primary" href="mailto:akarsh_shrivastava@yahoo.com"><span class="bi bi-google"> Email</span></a>
                        </div>
                        <div class="col-sm mb-2">
                            <a class="link-primary" target="_blank" href="https://www.linkedin.com/in/akarsh-shri/"><span class="bi bi-linkedin"> Linkedin</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-3">
                    <h3 class="text-start">Social Links</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm mb-2">
                            <a class="link-primary" target="_blank" href="https://github.com/akarsh-23"><span class="bi bi-github"> Github</span></a>
                        </div>
                        <div class="col-sm mb-2">
                            <a class="link-primary" target="_blank" href="https://www.linkedin.com/in/akarsh-shri"><span class="bi bi-linkedin"> Linkedin</span></a>
                        </div>
                        <div class="col-sm mb-2">
                            <a class="link-primary" target="_blank" href="https://www.hackerrank.com/akarsh23"><span class="bi bi-award"> HackerRank</span></a>
                        </div>
                        <div class="col-sm mb-2">
                            <a class="link-primary" target="_blank" href="https://www.codechef.com/users/akarsh23"><span class="bi bi-award-fill"> CodeChef</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>