<div class="header pb-1 pt-1 mb-3 shadow-sm">
    <div class="navbar navbar-expand-lg navbar-expand-md ps-3 pe-3 d-lg-flex">
        <div class="navbar-brand d-flex align-items-center">
            <a class="link-primary" routerLink="/home"><span class="bi bi-check2-circle"></span><span class="ms-2 text-brand">Akarsh Shrivastava</span></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-toggles link-primary"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-sm-end" id="navbarSupportedContent">
            <div class="navbar-nav">
                <div class="nav-tabs ms-5">
                    <a class="nav-link link-primary" routerLink="/home">Home</a>
                </div>
                <div class="nav-tabs ms-5">
                    <a class="nav-link link-primary" routerLink="/about">About</a>
                </div>
                <div class="nav-tabs ms-5">
                    <a class="nav-link link-primary" routerLink="/projects">Projects</a>
                </div>
                <div class="nav-tabs ms-5">
                    <a class="nav-link link-primary" routerLink="/login">Login</a>
                </div>
                <div class="nav-tabs ms-5">
                    <a class="nav-link link-primary" routerLink="/signup">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>