<div class="container p-3">
    <div class="m-auto">
        <img class="w-25" [src]="image"/>
    </div>
    <div class="p-3">
        <div class="h3 text-start text-primary1">Objective</div>
        <div class="text-start ps-5">
            To work for a renowned company and build my career that would help me in achieving greater practical excellence in technical domain. As a Fresher want to be an active member in a renowned organization where I can utilize my skills towards the growth of the organization which will provide excellent opportunities for career advancement & personal development.
        </div>
    </div>
    <div class="p-3">
        <div class="h3 text-start text-primary1">Education</div>
        <div class="text-start ps-5">
            <div class="clearfix pb-1">
                <span class="float-start">B. tech (Computer Science & Engineering | Lovely Professional University</span>
                <span class="float-end">CGPA: 7.16 (July ‘19 –Jun ‘23)</span>
            </div>
            <div class="clearfix pb-1">
                <span class="float-start">XII (State Board) | Govt. Excellence Higher Secondary School</span>
                <span class="float-end">Marks: 83% | 2019</span>
            </div>
            <div class="clearfix pb-1">
                <span class="float-start">X (State Board) | Govt. Excellence Higher Secondary School</span>
                <span class="float-end">Marks: 83.5% | 2017</span>
            </div>
        </div>
    </div>
</div>